* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('perfil.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #0e0e0e;
}

.social-media {
    display: flex;
    flex-wrap: nowrap; /* Impede que os ícones sejam divididos em duas linhas */
    justify-content: flex-start; /* Alinha os ícones lado a lado */
    width: 100%;
    max-width: 960px; /* Defini uma largura máxima para acomodar os seis ícones */
    margin: 10px;
}

.icon {
    width: 100%; /* Define a largura de cada ícone para 16.6667% */
    height: 100px;
    background-size: cover;
    background-color: #ffffff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 0 8px 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
}

.icon i {
    font-size: 1.5em;
    color: #ffffff;
}

.icon:hover {
    transform: translateY(-5px);
}

@media (max-width: 480px) {
    .icon {
        width: 40px;
        height: 40px;
    }

    .icon i {
        font-size: 1.2em;
    }
}